
// Setup
// ------------------------------------------------------------------------ //

$BTN_PADDING: ($space / 3) $space;

@mixin btnStyle( $bg, $color: #fff ) {
    color: $color;
    background: $bg;

    &:hover,
    &:focus {

    }
}


// Base Style
// ------------------------------------------------------------------------ //

.btn {
    display: inline-block;
    padding: $BTN_PADDING;
    border: 0;
    font-family: inherit;
    line-height: $base_line_height;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: $black;
    font-weight: bold;
    border-radius: 100px;
    background: $black20;
    cursor: pointer;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:focus {
        outline: none;
    }

    &[disabled] {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.5;
    }
}


// Modifier
// ------------------------------------------------------------------------ //

.btn--block {
    width: 100%;
}

.btn--trans {
    background: transparent;
}

.btn--white {
    background: $white;
    
    &:hover,
    &:focus {
        //color: lighten($brand_blue, 40%);
        background: $black20;
    }
}

.btn--blue {
    background: $brand_blue;
    color: $white;

    &:hover,
    &:focus {
        color: lighten($brand_blue, 40%);
        background: darken($brand_blue, 5%);
    }
}

.btn--back {
    position: fixed;
    left: $space * 3;
    top: $space * 2;
    z-index: 10;
    width: 56px;
    height: 56px;
    background: $brand_blue;
    color: $white;
    padding: 0;
    text-align: center;
    transition: all .2s ease;
    
    &:hover,
    &:focus {
        color: $white;
        transform: scale(1.1);
    }
    
    .fa {
        font-size: $base_font_size * 1.5;
        line-height: 56px;
    }
}

.btn--home {
    background: $black20;
    color: $black;
    top: $space * 2;
    transform: translateY(70px);
    
    &:hover,
    &:focus {
        color: $black;
        transform: translateY(70px) scale(1.1);
    }
}