.footer {
	position: relative;
	padding: $space 0;
	background: $black;
	color: $black50;
	margin-top: $space * 4;
	z-index: 5;
}

.footer-title {
	color: $white;
}

.footer-link {
  margin-right: 3px;
  
  &:last-child {
    margin-right: 0;
  }
}

.footer-anchor {
	display: inline-block;
	padding: 7px 0;
	width: 40px;
	height: 40px;
	background: $black50;
	border-radius: 100px;
	color: $black;
	text-align: center;
	font-weight: 700;
	cursor: pointer;
	transition: all .2s ease;

	&:hover, &:focus {
		background: $white;
		color: $black;
		transform: translateY(-5px);
	}
}