.media-grid {
  display: block;
  
  @media #{$small} {
    display: none;
  }
}

.media-grid-item {
  float: left;
  width: 25%;
  padding: 1px;
  
  &:hover .media-grid-img {
    opacity: 1;
  }

}

.media-grid-item--large {
  width: 50%;
  
  .media-grid-img {
    height: 300px;
    
    @media #{$xxlarge} {
      height: 400px;
    }
    
    @media #{$small} {
      height: 175px;
    }
  }
  
  @media #{$small} {
    width: 100%;
  }
}

.media-grid-anchor {
  display: block;
  position: relative;
}

.media-grid-img {
  height: 149px;
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
  transition: all .25s ease;
  
  @media #{$small} {
    height: 100px;
  }

  @media #{$xxlarge} {
    height: 199px;
  }
}

.media-grid-desc {
  position: absolute;
  left: 0;
  bottom: 0;
  min-height: $space * 3;
  max-height: 100%;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(to top, $black 0%, rgba(0,0,0,0) 100%);  
  padding: $space / 2;
  color: $white;

  * {
    margin-bottom: 0;
  }
  
  p {
    @media #{$small} {  
      line-height: 1em;
    }
  }
}

.media-grid-title--small {
  font-size: $base-font-size;
}