.media-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.media-list-item {
  width: 33%;
  margin-bottom: $space / 2;

  @media #{$small} {
    width: 49%;
  }
}

.media-list-anchor {
  display: block;
  color: $black;
  height: 235px;
  overflow: hidden;
  flex-wrap: wrap;
  
  &:hover,
  &:focus {
    color: currentColor;
  }
  
  @media #{$small} {
    height: auto;
  }
}

.media-list-img {
  width: 100%;
  height: 150px;
  margin-right: $space / 2;
  object-fit: cover;
  opacity: 0.9;
  transition: all .2s ease;
  
  .media-list-anchor:hover & {
    opacity: 1;
  }
}

.media-list-desc {
  * {
    margin-bottom: 0;
    transition: all .2s ease;

  }
}