.post-list {
	
}

.post-item {
	padding: $space;
	min-height: $space * 8;
	margin-bottom: $space / 2;
	background: $white;
	box-shadow: 0 1px 1px $black30;
	transition: all .2s ease;
	overflow: hidden;
	//border: solid 1px $black30;

	&:hover{
		box-shadow: 0 4px 10px $black30;
		transform: translateY(-2px);
	}
}

.post-anchor {
	color: currentcolor;
	display: block;

	&:hover,
	&:focus {
		color: currentcolor;
	}
}

.post-title {
	//margin-bottom: 0;
}

.post-date {

}

.post-content {
	margin-bottom: 0;
}