.breadcrumb {
  margin-bottom: $space;
}

.breadcrumb-item {
  margin-right: $space;
  position: relative;
  font-weight: bold;
  
  &:after {
    content: '\f105';
    font-family: 'fontAwesome';
    position: absolute;
    left: 100%;
    transform: translateX($space / 2);
  }
  
  &:last-child {
    &:after {
      display: none;
    }
  }
}

.breadcrumb-item--article {
  &:after {
    content: '';
    display: block !important;
    right: 0;
    top:0;
    left: auto;
    z-index: 5;
    height: $space;
    width: 50px;
    background: linear-gradient(to left, $white, transparent);
  }
}

.breadcrumb-anchor {
  color: $black;
}